/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#08111f;
    color:#fff;
    overflow-x:hidden;
    line-height:1.7;
}

/* Navigation */

header{
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(8,17,31,.85);
    backdrop-filter:blur(12px);
    border-bottom:1px solid rgba(255,255,255,.08);
}

.logo img{
    width:45px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#2d8cff;
}

.menu-btn{
    display:none;
    font-size:32px;
    cursor:pointer;
}

/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 20px;
    background:
    linear-gradient(rgba(8,17,31,.82),rgba(8,17,31,.85)),
    url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:850px;
}

.hero-badge{
    display:inline-block;
    padding:10px 22px;
    border-radius:30px;
    background:rgba(45,140,255,.15);
    color:#59a8ff;
    margin-bottom:25px;
    border:1px solid rgba(45,140,255,.3);
}

.hero h1{
    font-size:65px;
    line-height:1.1;
    margin-bottom:25px;
    font-weight:700;
}

.hero h1 span{
    color:#2d8cff;
}

.hero p{
    font-size:20px;
    color:#d5d5d5;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

/* Buttons */

.btn{
    display:inline-block;
    padding:16px 36px;
    background:#2d8cff;
    color:#fff;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    transition:.35s;
    box-shadow:0 10px 30px rgba(45,140,255,.35);
}

.btn:hover{
    transform:translateY(-4px);
    background:#1575e6;
}

.btn-outline{
    background:transparent;
    border:2px solid #2d8cff;
}

.btn-outline:hover{
    background:#2d8cff;
}
@media (max-width:768px){

.nav-links{
    display:none;
}

.menu-btn{
    display:block;
    color:white;
}

.hero h1{
    font-size:52px;
}

.hero p{
    font-size:18px;
}

.logo img{
    width:85px;
}

}
